
.menu-items {
    height: 169px;
}

.menu-header {
  font-size: 30px;
  margin-left: 16px;
  font-family: "Days One", sans-serif;
  color: #f57b23;
}

.menu-header:hover {
  color: #f57b23;
}

.nav-link { 
  font-size: 20px;
  font-weight: 500px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.22px;
  color: #1e1e1e;
}

.nav-link:hover {
  color: #f57b23;
}

.hero-banner {
  width: 100%;
  height: 463px;
  background-image: url(../assets/images/guliver-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.hero-input {
  width: 750px;
  height: 70px;
  border-radius: 100px;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.15);
  border-style: none;
  padding-left: 70px;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  letter-spacing: -0.264px;
}

.hero-input::placeholder {
  color: rgba(51, 51, 51, 0.8);
}

.search-icon {
  appearance: none;
  top: 18px;
  left: 20px;
}
.fa-arrow-left:hover,
.fa-arrow-right:hover {
  color: #ff9a43;
  border-color: #ff9a43;
}

a:hover {
  color: #ff9a43;
  text-decoration: none;
}

.box-categoria:hover {
  color: #ff9a43;
  border-color: #ff9a43;
}

.categoria-text {
  justify-content: center;
  margin-top: 100px;
}

.categoria-text h3 {
  font-size: 30px;
  font-weight: 800;
  color: #1e1e1e;
  margin-bottom: 32px;
}

.fa-arrow-left {
  color: gray;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px;
  margin-left: 870px;
}

.fa-arrow-right {
  color: gray;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px;
  margin-left: 10px;
}

.box-categoria {
  border: 1px solid rgb(221, 220, 220);
  width: 257px;
  height: 197px;
  margin: 0 10px;
  border-radius: 12px;
  padding: 32px;
  color: #323232;
}

.categorias {
  color: gray;
  margin-bottom: 100px;
}

.fa-utensils,
.fa-umbrella-beach,
.fa-spa,
.fa-book-open {
  padding-top: 20px;
  font-size: 37px;
}

.titulo-categoria {
  font-size: 25px;
  color: black;
  padding-top: 10px;
}

.descubra-text {
  color: #ffffff;
}

.descubra-lugares {
  width: 100%;
  height: 456px;
  background-color: #ff9a43;
}

.descubra-lugares img {
  height: 270px;
  margin-right: 30px;
}

.descubra-lugares h3 {
  font-size: 30px;
}

.box {
  width: 450px;
  height: 250px;
  margin: 10px;
}

.next-you-content {
  padding-left: 268px;
  margin-top: 100px;
  width: fit-content;
}

.next-you-content h3 {
  font-size: 30px;
  font-weight: 800;
  color: #1e1e1e;
  margin-bottom: 32px;
}

.next-you-content h4 {
  bottom: 0;
  left: 0;
  color: white;
  padding: 16px;
  font-size: 20px;
}

.next-you-content div {
  display: flex;
  column-gap: 16px;
}

.card {
  width: 260px;
  height: 260px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
